{% extends "base.html" %}
{% block title %}
    {{block.super}} Articles
{% endblock title %}

{% block content %}
    <h1>Articles</h1>
    {% if articles %}
      <ul>
        {% for article in articles %}
          <li>{{article.title}} with {{article.word_count}} word{{ article.word_count | pluralize }}. 
            <a href="{% url 'update_article' article.id %}"
              ><button type="button" id="action-1">edit</button>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else%}
      <p>You have no articles.</p>
    {% endif %}

    <a href="{% url 'create_article' %}">Create Article</a> |
{% endblock content %}
