{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    {% comment %} datatables css cdn {% endcomment %}
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css"
    />

    <title>Todo</title>
  </head>
  <body>
    <header>
      <nav>{% include 'nav.html' %}</nav>
    </header>
    <hr />

    <main>{% block content %} {% endblock content %}</main>

    
    {% comment %} jquery required for datatables {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    {% comment %} datatables javascript {% endcomment %}
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

    <script type="text/javascript">
      let table = new DataTable('#myTable');
    </script>

  </body>
</html>
